@import "tailwindcss";

@import "flowbite/src/themes/default";
@import "flowbite";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background: #E8E8E8;
  overflow: hidden;
}

.custom-placeholder .css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: #202020 !important; /* Gris personalizado */
}